<div class="container-fluid">

    <nav class="navbar ">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">kidslaughs</a>
            </div>


            <ol class="nav navbar-nav navbar-right">
                <ol class="breadcrumb">
                <li><a href="#"> Home</a></li>
                <li>
                    <a routerLink="/contact-us" >contact us</a>
                    </li>
                <li><a href="#"> Feedback</a></li>
                    </ol>
            </ol>
        </div>
    </nav>

    <!--//<nav class="navbar-text navbar-right">Signed in as <a href="#" class="navbar-link">Mark Otto</a></nav>-->

<div class="jumbotron">
    <div class="container">
    <h3>win to become star</h3>
    <p>...</p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Click here to Learn more</a></p>
</div>
    </div>
    <div>
    <button type="button" class="btn btn-primary">submit Jokes</button>
    <button type="button" class="btn btn-warning"><a routerLink="/joke-detail" routerLinkActive="active"> jokes</a></button>

    <button type="button" class="btn btn-primary">most liked jokes</button>
    </div>

    <router-outlet></router-outlet>









</div>