<div class="panel panel-info">
    <div class="panel-heading">{{title}}</div>
    <h4>Prepare to be giggled </h4>
    <ul class="jokeses" class="list group">
        <li class="list-group-item" *ngFor="let joke of jokeses; let i = index">
            <span> {{joke._id.description}}</span>
            <tr>
                <button type="button" id="cnt1{{joke._id._id}}" class="btn btn-default"
                        (click)="liked(i)">
                <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true">
                </span>
                </button>
                <span id="likes">{{joke.likesCount}}</span>
            </tr>
        </li>
    </ul>
</div>